@using TS_2.Models.Join;
@model List<mdJoinGetServico>
@{
    ViewData["Title"] = "Servicos";
    Layout = "~/Views/Shared/_LayoutLogadoFunc.cshtml";
}

<h1>Servicos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Empresa
            </th>
            <th>
                Data Contrato
            </th>
            <th>
                Status
            </th>
            <th>
                Descrição
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
   @foreach (mdJoinGetServico item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresa1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataContrato1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusServico1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao1)
            </td>            
            <td>                
                @Html.ActionLink("Detalhes", "DetalhesServicos", new { id = item.IdServico1}) |                
            </td>
        </tr>
    }
    </tbody>
</table>
