@model IEnumerable<mdJoinDadosContrato>
@{
    ViewData["Title"] = "DetalhesEmpresa";
    Layout = "~/Views/Shared/_LayoutAdministracao.cshtml";

    int IdEmpresa = Html.ViewBag.IdEmp;
}

<div class="jumbotron" style="box-shadow: 0px 0px 10px 0px #000000; background-color: white;">
    <h1 class="text-center text-uppercase" >Detalhes da Empresa</h1>
    <hr />
    <dl class="row" >
        <dt class="col-sm-2">
            EMPRESA
        </dt>
        <dd class="col-sm-10">
            @Html.ViewBag.DadosEmpresa.NomeEmpresa1
        </dd>
        <dt class="col-sm-2">
            CNPJ
        </dt>
        <dd class="col-sm-10">
            @Html.ViewBag.DadosEmpresa.CNPJ1
        </dd>
        <dt class="col-sm-2">
            ENDEREÇO
        </dt>
        <dd class="col-sm-10">
            @Html.ViewBag.DadosEndereco
        </dd>
    </dl>
    
    <h3 class="text-center text-uppercase my-lg-4">Contratos</h3>
    <table class="table table-bordered">
        <thead>
            <tr class="jumbotron">
                <th>
                    NÚMERO
                </th>
                <th>
                    DESCRIÇÃO
                </th>
                <th>
                    DATA
                </th>
                <th>
                    STATUS
                </th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Numero1)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Descricao1)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.DataContrato1)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.StatusServico1)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-dark" asp-action="ListEmpresas">VOLTAR</a>
    <button class="btn btn-primary" data-toggle="modal" data-target="#AddServicoModal" data-whatever="mdo">ADICIONAR NOVO CONTRATO</button>
</div>


@*============
=== MODAL ===
=============*@
<div class="modal fade" id="AddServicoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Novo Contrato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="DetalhesEmpresa">
                    <div class="form-group">
                        <label class="control-label">Funcionario</label>
                        <input type="email" name="txtEmail" class="form-control" value="Lucas@gmail.com" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Número do Contrato</label>
                        <input type="number" name="txtNumContrato" class="form-control" value="3900" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Descrição</label>
                        <textarea name="txtDesc" class="form-control">Criar uma rede de conecxão entre São Paulo e Nova Yourk</textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Data</label>
                        <input type="date" name="txtData" class="form-control" />
                        <span class="text-danger"></span>
                    </div>          
                    <input type="text" class="invisible" name="txtId" value="@IdEmpresa">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

